
<article class="pure-g-r">	
	<section class="pure-u-1">
<h1>Editing entry</h1>
<%= link_to 'Back', entries_path, :class => "pure-button" %>
<%= link_to 'Show', @entry, :class => "pure-button" %>
<%= link_to 'Delete', @entry, method: :delete, :class => "pure-button", data: { confirm: 'This will delete the blog entry. Are you sure you want to do that?' } %>


<%= render 'form' %>



</section>
</article>