/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require purecss
 *= require_self
 */


html, body, div, span, ul, li, p, img {padding:0;margin:0;}
img{vertical-align: top;}
html, body {height:100%; width:100%;}
img, li {display:inline-block;}

a:hover{background-color:transparent;color:#3c3c3c;}

time{display:block;}

/*
header {display:block;overflow:hidden;}
header>nav>ul {list-style:none;}
header>nav>ul>li {float:left; margin-left:10px; margin-right:10px;}
header>nav>ul>li a, header>nav>ul>li a:visited {color:#0099CC; text-decoration:none;}
*/
body>header, body>article, body>footer, body>section{max-width: 1000px;margin-left: auto;margin-right: auto;position:relative;}
body>footer{padding-top: 60px;padding-bottom:40px;}
article>section+aside{position:absolute;float:right;top:20px; padding:20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

article p, section p {margin-bottom:10px;}

.Masthead+article{margin-top:20px;}

.Masthead {display: block;padding-top: 20px;width: 100%;max-width:100%;background: transparent url(image_path('beach_wide.jpg')) no-repeat center -150px;}
.MastheadInnerWrapper {display: block;
    height: 130px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;}
.pure-g-r img.MastheadImage {height:130px; display:inline-block;float:left;}
.SiteLogo {float: right;
position: absolute;
top: 80px;
right: 30px;}
.SiteLogo img{position: relative;float: right;}

#user_controls ul{float:right; margin-top:5px;}
#user_controls p{text-align: right;color:#ffffff;font-size:1.2em;text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);}

.entry {margin-bottom:40px;}